<% extends 'layout.html' %>

<% block titlew %>
Successful Sign-in from New IP
<% endblock %>

<% block content %>
<table class="main"
       width="100%"
       cellpadding="0"
       cellspacing="0"
       itemprop="action"
       itemscope
       itemtype="http://schema.org/ConfirmAction">
  <tr>
    <td class="content-wrap">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            This email is to notify you of a successful sign-in
            to your <{site.name}> account from an IP address
            not previously associated with this account.
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Username/email:{{username}}
            IP Address: {{ipAddress}}
          </td>
        </tr>
        <tr>
          <td class="content-block">
            If you do not recognize this login, you should
            <{site.name}> your account immediately
            and contact support <{site.support}>
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Sincerely,<br>
            The <{site.name}> Team
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% endblock %>
