<% extends 'layout.html' %>

<% block title %>
Reset password request
<% endblock %>

<% block content %>
<table class="main"
       width="100%"
       cellpadding="0"
       cellspacing="0"
       itemprop="action"
       itemscope
       itemtype="http://schema.org/ConfirmAction">
  <tr>
    <td class="content-wrap">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            This email was sent automatically by <{site.name}> in response
            to your request to reset your password.
          </td>
        </tr>
        <tr>
          <td class="content-block">
            To reset your password and access your account,
            click the link below:
          </td>
        </tr>
        <tr>
          <td class="content-block">
            This is done for your protection; only you, the recipient
            of this email can take the next step in the password
            recovery process.
            To reset your password and access your account,
            click the link below:
          </td>
        </tr>
        <tr>
          <td class="content-block"
              itemprop="handler"
              itemscope
              itemtype="http://schema.org/HttpActionHandler">
            <a href="<{site.tokenUrl}>{{token}}" class="btn-primary"
               itemprop="url">Reset Password</a>
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Sincerely,<br>
            The <{site.name}> Team
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% endblock %>