<div class="inlineEditWrapper">
  <a class="btn-link" (click)="edit()" [hidden]="editing">{{ value }}</a>
  <form
    class="inlineEditForm form-inline"
    [hidden]="!editing">
    <div class="form-group">
      <input
        #inlineEditControl
        class="form-control"
        [(ngModel)]="value"
        [ngModelOptions]="{standalone: true}"/>
      <span>
        <button
          (click)="onSubmit()"
          class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button
          class="btn btn-default"
          (click)="cancel()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
       </span>
    </div>
  </form>
</div>
