<span *ngFor="let action of actions">
  <span [ngSwitch]="action.type">
    <ng-template [ngSwitchCase]="'remove'">
      <button
        class="btn btn-danger glyphicon glyphicon-trash"
        (click)="remove()">
      </button>
    </ng-template>
    <ng-template [ngSwitchCase]="'refresh'">
      <button
        class="btn glyphicon glyphicon-refresh"
        (click)="refresh()">
      </button>
    </ng-template>
    <ng-template [ngSwitchCase]="'custom'">
      <cc-dynamic-block
        [factory]="action.factory"
        [bind]="getBind(action)"></cc-dynamic-block>
    </ng-template>
    <ng-template ngSwitchDefault>
      <button
        class="btn"
        (click)="broadcast(action)">
        {{action.text}}
      </button>
    </ng-template>
  </span>
</span>
