<div class="table-holder">
  <table class="table table-condensed table-hover table-responsive">
    <thead>
    <tr class="active">
      <th
        *ngFor="let column of schema"
        (click)="headerClick(column)"
      >
        {{column.title || ''}}
        <span
          [class.glyphicon]="column.sortable"
          [class.glyphicon-sort-by-attributes]="column.sort==='asc'"
          [class.glyphicon-sort-by-attributes-alt]="column.sort==='desc'"
        >
        </span>

      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of source.documents | async">
      <td
        class="table-editable-cell"
        *ngFor="let column of schema">
        <div [ngSwitch]="column.type">
          <ng-template ngSwitchCase="">
          </ng-template>
          <ng-template [ngSwitchCase]="'text'">
            <cc-inline-edit
              [value]="getCellText(row, column)"
              (valueChange)="setCellText(row, column, $event)"
              (onSave)="saveEdit(row, column, $event)"
            ></cc-inline-edit>
          </ng-template>
          <ng-template [ngSwitchCase]="'bool'">
            <input
              type="checkbox"
              [checked]="getCellValue(row, column)"
              (change)="checkboxChange(row, column, $event)"
            >
          </ng-template>
          <ng-template [ngSwitchCase]="'email'">
            <cc-inline-edit
              [value]="getCellText(row, column)"
              (valueChange)="setCellText(row, column, $event)"
              (onSave)="saveEdit(row, column, $event)"
            ></cc-inline-edit>
          </ng-template>
          <ng-template [ngSwitchCase]="'select'">
            <cc-inline-select
              options="column.options"
              [value]="getCellText(row, column)"
              (onSave)="saveEdit(row, column, $event)"
            ></cc-inline-select>
          </ng-template>
          <ng-template [ngSwitchCase]="'actions'">
            <cc-table-row-actions
              [source]="source"
              [row]="row"
              [actions]="column.actions"
              (action)="onAction($event)"
            ></cc-table-row-actions>
          </ng-template>
          <ng-template ngSwitchDefault>
            <div>
              {{getCellText(row, column)}}
            </div>
          </ng-template>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <cc-loading-overlay *ngIf="source.loading"></cc-loading-overlay>
</div>
