<form
  name="payout-{{account.currency}}"
  action="{{'/accounts/' + account.currency + '/out'}}"
  method="post"
  class="form-payout">
  <div class="form-group-payout">
    <label for="amount-{{account.currency}}">Amount</label>
    <input
      type="text"
      id="amount-{{account.currency}}"
      name="amount"
      class="input-large"
      ng-model="withdrawalForm.withdrawalInfo.amount">
  </div>
  <div class="form-group-fee">
    <label for="fee-{{account.currency}}">Fee</label>
    <input
      type="text"
      id="fee-{{account.currency}}"
      name="fee"
      value=""
      class="input-xlarge"
      ng-model="withdrawalForm.withdrawalInfo.fee">
  </div>
  <div class="form-group-payout">
    <label for="address-{{account.currency}}">Payout to</label>
    <input
      type="text"
      id="address-{{account.currency}}"
      name="address"
      value=""
      class="input-xlarge"
      ng-model="withdrawalForm.withdrawalInfo.address">
  </div>
  <input
    type="button"
    value="CASH OUT"
    class="btn"
    ng-click="withdrawalForm.submit()">
</form>