<div class="center clearfix">
  <div class="clearfix"></div>
  <div class="col-xs-6 col-xs-push-3">
    <h2>
      Password reset
    </h2>

    <form method="post"
          class="form"
          role="form"
          [formGroup]="form"
          (ngSubmit)="resetPassword()">

    <div
      class="form-group"
      [class.has-success]="form.controls.email.valid && submitted"
      [class.has-error]="!form.controls.email.valid && submitted">
      <label>Email</label>
      <cc-email-input
        [(ngModel)]="auth.currentUser.email"
        [formControl]="form.controls.email"
      ></cc-email-input>
      <p
        class="help-block"
        *ngIf="submitted && form.controls.email?.errors?.required">
        Please enter a valid email.
      </p>
    </div>

    <div
      class="form-group"
      [class.has-error]="submitted && errors">
      <button
        [disabled]="shouldDisableSubmitButton()"
        class="btn btn-primary"
        type="submit"
        tooltip="click to reset your password">
        Reset your password
        <span
          *ngIf="shouldDisplaySubmitProgress()"
          class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </span>
      </button>
      <p
        class="help-block"
        *ngIf="submitted && errors">
        {{errors}}
      </p>
    </div>

    </form>
  </div>
</div>
