<div class="center clearfix">
  <div class="clearfix"></div>
  <div class="col-xs-6 col-xs-push-3">
    <h2><i class="glyphicon glyphicon-ok"></i> Password reset successful</h2>
    <p class="text">
      Email confirmation has been sent to <strong>{{email}}</strong>.
    </p>
    <p class="text">
      Please check your mailbox and follow confirmation link.
    </p>
    <p class="text">
      If you do not receive an email, please make sure you have entered
      the address you registered with, and check your spam folder.
    </p>
    <p class="text marginLeftIcon">
      In case you still did not receive the confirmation, please, try to
      <a #resetButton href="" title="click to reset your password">reset your password</a>
      again.</p>
  </div>
</div>
