<div class="center clearfix">
  <div class="clearfix"></div>
  <div class="col-xs-6 col-xs-push-3">
    <h2>
      <i class="glyphicon glyphicon-ok"></i>
      Password reset successful
    </h2>
    <p class="text">
      Email confirmation has been sent to
      <strong>{{auth.currentUser.email}}</strong>.
    </p>
    <p class="text">
      Please check your mailbox and follow confirmation link.
    </p>
    <p class="text">
      If you do not receive an email, please make sure you have entered
      the address you registered with, and check your spam folder.
    </p>
    <p class="text">
      In case you still did not receive the confirmation, please,
      try to reset your password again.</p>
    <p class="text">
      <button
        #resetButton
        class="btn btn-primary"
        tooltip="click to reset your password">
        Reset your password
      </button>
    </p>
    <p class="text">
      or
    </p>
    <p class="text">
      <button
        class="btn btn-default"
        tooltip="click to login"
        (click)="login()">
        Login
      </button>
    </p>
  </div>
</div>
