<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Accounts</h1>
    </div>
    <div class="col-sm-12">

      <div ng-repeat="account in vm.accounts | filter : {enable:true}" class="account">

        <div ng-click="vm.disableAccount(account)">
          Remove
        </div>
        <div class="currency-logo-{{account.currency}}"></div>
        <div>{{account.currency}}</div>
        <div>Balance {{account.balance}}</div>
        <div>Address {{account.address}}</div>
        <withdrawal-form account="account"></withdrawal-form>
      </div>

      <div ng-if="disabledAccounts.length > 0">
        <h2>Create Account</h2>
      </div>

      <div>
        <div ng-repeat="account in vm.currencies | filter : {enable: false} as disabledAccounts">
          <div ng-click="vm.enableAccount(account)">
            <div class="currency-logo-{{account.currency}}"></div>
            <div>{{account.currency}}</div>
            <div>{{account|json}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>