<div class="password-input">
  <input
    [name]="name || 'password'"
    (blur)="onTouched()"
    (input)="value=$event.target.value"
    type="{{inputState.type}}"
    placeholder="{{inputState.placeholder}}"
    class="form-control"
    autocomplete="on">
  <span
    class="pic password glyphicon"
    [class.glyphicon-eye-open]="!inputState.show"
    [class.glyphicon-eye-close]="inputState.show"
    (click)="togglePasswordVisible()">
      <div class="hide-text-password">
        {{inputState.tooltipText}}
      </div>
    </span>
</div>
