<% extends 'layout.html' %>

<% block title %>
Confirm e-mail address
<% endblock %>

<% block content %>
<table class="main"
       width="100%"
       cellpadding="0"
       cellspacing="0"
       itemprop="action"
       itemscope
       itemtype="http://schema.org/ConfirmAction">
  <tr>
    <td class="content-wrap">
      <meta itemprop="name" content="Confirm Email"/>
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="content-block">
            Please confirm your email address by clicking the link below.
          </td>
        </tr>
        <tr>
          <td class="content-block">
            We may need to send you critical information about our
            service and it is important that we have an accurate email address.
          </td>
        </tr>
        <tr>
          <td class="content-block"
              itemprop="handler"
              itemscope
              itemtype="http://schema.org/HttpActionHandler">
            <a href="<{site.url}>/api/token/{{token}}"
               class="btn-primary"
               itemprop="url">Confirm email address</a>
          </td>
        </tr>
        <tr>
          <td class="content-block">
            Sincerely,<br>
            The <{site.name}> Team
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<% endblock %>