.account-filter {
  //float: right;
}

.hide-zero-balances {
  //float: right;
  margin-right: 30px;
  margin-top: 4px;
}

.search-accounts {
  //float: right;
}

.search-input {
  position: relative;
}

.pic {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 3px;
  right: 2px;
  font-size: 1.2em;
  opacity: 0.5;
}
