<cc-pagination
  *ngIf="source.options.paginate"
  [totalCount]="source.totalCount | async"
  [pageSize]="source.pageSize | async"
  [currentPage]="source.currentPage | async"
  (currentPageChange)="source.setCurrentPage($event)"
></cc-pagination>

<cc-page-size
  *ngIf="source.options.paginate"
  [size]="source.pageSize | async"
  (sizeChange)="source.setPageSize($event)"
></cc-page-size>

<cc-loading-overlay *ngIf="source.loading"></cc-loading-overlay>

<table class="table table-striped table-condensed table-hover table-responsive">
  <thead>
  <tr>
    <th
      *ngFor="let column of schema"
      (click)="headerClick(column)"
    >
      {{column.title || ''}}
      <span
        [class.glyphicon]="column.sortable"
        [class.glyphicon-sort-by-attributes]="column.sort==='asc'"
        [class.glyphicon-sort-by-attributes-alt]="column.sort==='desc'"
      >
      </span>

    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of source.rows | async">
    <td
      class="table-editable-cell"
      *ngFor="let column of schema">
      <div [ngSwitch]="column.type">
        <template ngSwitchCase="'text'">
          <cc-inline-edit
            [ngModel]="getCellValue(row, column)"
            (ngModel)="setCellValue(row, column, $event)"
            (onSave)="saveCell(row, column)"
          ></cc-inline-edit>
        </template>
        <template [ngSwitchCase]="'email'">
          <cc-inline-edit
            [(ngModel)]="row[column.field]"
            (onSave)="saveCell(row, column)"
          ></cc-inline-edit>
        </template>
        <template [ngSwitchCase]="'select'">
          <cc-inline-select
            options="column.options"
            [(ngModel)]="row[column.field]"
            (onSave)="saveCell(row, column)"
          ></cc-inline-select>
        </template>
        <template [ngSwitchCase]="'actions'">
          <div>
            <button
              class="btn btn-danger glyphicon glyphicon-trash"
              (click)="remove(row)"
              value="del">
            </button>
          </div>
        </template>
        <template ngSwitchDefault>
          <div>
            {{getCellValue(row, column)}}
          </div>
        </template>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<cc-pagination
  *ngIf="source.options.paginate"
  [totalCount]="source.totalCount | async"
  [pageSize]="source.pageSize | async"
  [currentPage]="source.currentPage | async"
  (currentPageChange)="source.setCurrentPage($event)"
></cc-pagination>

<cc-page-size
  *ngIf="source.options.paginate"
  [size]="source.pageSize | async"
  (sizeChange)="source.setPageSize($event)"
></cc-page-size>
