<form method="post"
      class="form"
      role="form"
      [formGroup]="loginForm"
      (ngSubmit)="login()">

  <div
    class="form-group"
    [class.has-success]="loginForm.controls.email.valid && submitted"
    [class.has-error]="!loginForm.controls.email.valid && submitted">
    <label>Email</label>
    <cc-email-input
      [(ngModel)]="auth.currentUser.email"
      [formControl]="loginForm.controls.email"
    ></cc-email-input>
    <p
      class="help-block"
      *ngIf="submitted && loginForm.controls.email?.errors?.required">
      Please enter a valid email.
    </p>
  </div>

  <div
    class="form-group"
    [class.has-success]="loginForm.controls.password.valid && submitted"
    [class.has-error]="!loginForm.controls.password.valid && submitted">
    <label>Password</label>
    <cc-password-input
      [formControl]="loginForm.controls.password"
    ></cc-password-input>
    <p
      class="help-block"
      *ngIf="submitted && loginForm.controls.password?.errors?.required">
      Please enter a password.
    </p>
  </div>

  <div
    class="form-group"
    [class.has-success]="loginForm.controls.captcha.valid && submitted"
    [class.has-error]="!loginForm.controls.captcha.valid && submitted">
    <label>Please complete this CAPTCHA.</label>
    <re-captcha
      site_key="6LdKlwgUAAAAANiQwucCM5Gstqlv11UrYKnOAPuh"
      (captchaResponse)="captchaResponse($event)"
      (captchaExpired)="captchaExpired()"
    ></re-captcha>
    <p
      class="help-block"
      *ngIf="submitted && loginForm.controls.captcha?.errors?.required">
      You also need to complete this CAPTCHA (JavaScript required).
    </p>
  </div>

  <div>
    <button
      [disabled]="shouldDisableSubmitButton()"
      class="btn btn-inverse btn-lg btn-login"
      type="submit">
      Login
      <span
        *ngIf="shouldDisplaySubmitProgress()"
        class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
      </span>
    </button>
    <a [routerLink]="['/signup']">Click here to Signup</a>
  </div>

  <div>
    <a [routerLink]="['/reset-password']">Forgot password?</a>
  </div>

  <hr/>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <cc-oauth-buttons classes="btn-block"></cc-oauth-buttons>
    </div>
  </div>
</form>
