<form
  class="form"
  role="form"
  [formGroup]="loginForm"
  (ngSubmit)="login()">

  <div
    class="form-group"
    [class.has-success]="loginForm.controls.email.valid && submitted"
    [class.has-error]="!loginForm.controls.email.valid && submitted">
    <label>Email</label>
    <cc-email-input
      [formControl]="loginForm.controls.email"
    ></cc-email-input>
    <p
      class="help-block"
      *ngIf="submitted && loginForm.controls.email?.errors?.required">
      Please enter a valid email.
    </p>
  </div>

  <div
    class="form-group"
    [class.has-success]="loginForm.controls.password.valid && submitted"
    [class.has-error]="!loginForm.controls.password.valid && submitted">
    <label>Password</label>
    <cc-password-input
      [formControl]="loginForm.controls.password"
    ></cc-password-input>
    <p
      class="help-block"
      *ngIf="submitted && loginForm.controls.password?.errors?.required">
      Please enter a password.
    </p>
  </div>

  <div>
    <button
      [disabled]="shouldDisableSubmitButton()"
      class="btn btn-inverse btn-lg btn-login"
      type="submit">
      Login
      <span
        *ngIf="shouldDisplaySubmitProgress()"
        class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
      </span>
    </button>
    <a [routerLink]="['/signup']">Click here to Signup</a>
  </div>

  <div>
    <a [routerLink]="['/password/reset']">Forgot password?</a>
  </div>

  <hr/>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <cc-oauth-buttons classes="btn-block"></cc-oauth-buttons>
    </div>
  </div>
</form>
